span.padred
       {
	    border-top-left-radius:100%;
	    background-color: red;
	   
	    padding: 300px;
	    padding-top:100px;
	   
	    padding-bottom:200px;
	    margin-left: 300px;
	    
	    margin-right: 600px;
	    }
	   span.padyellow
	    {
	     background-color: yellow;
	     border: 1px solid red;
	     position:absolute;
	     width: 50px;
	     height: 100px;
	     padding: 150px;
	     
	     padding: 300px;
	     padding-top:100px;
	     padding-right:300px;
	     
	     padding-bottom:200px;
	     margin-left: 600px;
	     
	     margin-right: 600px;
	   border-top-right-radius: 100%;
	   
	     
	    }
           span.padblue
       {
	    border-bottom-left-radius:100%;
	    background-color: blue;
	    padding: 300px;
	    padding-top:100px;
	    padding-bottom:200px;
	    
	   
	    	margin-left: 300px;
	    	margin-right: 600px;  
           }
           span.padgreen
       {
	    border-bottom-right-radius:100%;
	    background-color: green;
	    padding: 300px;
	    padding-top:100px;
	    padding-bottom:200px;
	 
	
	    	margin-left: 600px;
	    	margin-right: 300px;
           }
	
